/*police*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');




body{
    background: #222222;
    margin: 0;
    border: none;
}


.padding_top{
    padding-top: 14rem;
}



body>div {
    width: 100%;
    height: 100%;


}
header{
    width: 100%;
    height: 200px;
    background: linear-gradient(-2deg, #222 20%, #0dcfd6 80%);
    position: fixed ;
    border: none;
    z-index: 1;



}

header a>img{
    height: 130px;
    width: 130px;

    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
}

footer{
    width: 100%;
    height: 200px;
    background: linear-gradient(178deg, #222 20%, #0dcfd6 80%);
}

.acceuil p{
    margin: 5rem 6.5rem;
}

.acceuil p:first-child{
    margin: 5rem 15rem;
}

/* image logo */

.logo{
    display: block;
    margin: auto;
    width: 80vw;
}
body p{
    color: #0dcfd6;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0;

}

header h1{
    color: #222222;
    padding-top: 0;
    text-align: center;
}

footer>p:first-child{
    margin-top: 4rem;
}

footer>p{
    margin-top: 2rem;
    vertical-align: bottom;
    color: #222222;
}

footer>p>a, .MMI a{
    color: #222222;
}

footer>p:first-child>a{

    font-size: 2.5rem;
    color: #0dcfd6;
}
.MMI{
    padding-top: 5rem;
}

.lien_article{
    text-align: right;
    font-size: 2rem;
    margin-top: 4rem;
}

.lien_article a{

    color: #0dcfd6;
}

article h1{
    margin-top: 0;
    text-align: center;
    padding-top: 30px;
    color: #0dcfd6;

}
h2{
    margin-top: 0;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 4rem;
    color: #0dcfd6;
}

h3{
    margin-top: 0;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 3.5rem;
    color: #0dcfd6;
}

h4{
    margin-top: 0;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2.5rem;
    color: #0dcfd6;
}

.citation{

    font-family: Arial;
    border-left: 17px solid #0dcfd6;
    font-weight: bold;
    font-size: 2.5rem;
    padding-left: 1rem;
    margin: 3rem;
    margin-left: 15rem;
    width: 50%;
}

article>p{
    font-size: 2.5rem;
    width: 47rem;
    margin: 19px 120px;
    text-align: center;
    line-height: 3rem;
}

article a{
    color: #0dcfd6;
}
.remerciment{
    text-align: right;
    margin: 0;
    margin-right: 1rem;

}

.video, .image{
    border: solid #0dcfd6;
    padding: 10px 10px ;
    margin-right: 117px;
    margin-left: 117px;
    text-align: center;

}

img{

}


.desctiption{
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial;

}

.source{
    text-align: right;
    font-size: 1.5rem;
    font-style: italic;
    font-family: Arial;
}



.mail-to button{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}
.autres_projets{
    position: center;

}

.autres_projets>div{
    margin-bottom: 5rem;
    display: block;



}

.autres_projets img{
    width: 200px;
    height: 133px;

    clip-path:ellipse(100% 100%);

    position: absolute;
    margin-left: 11rem;


}

.SND img{
    width: 100px;
    height: 133px;

    clip-path:ellipse(100% 100%);

    position: absolute;
    margin-left: 14rem;


}

.E-State>img, .Black_Digital>img{
    background: white;

}


.autres_projets>div>div>p{
    font-size: 2rem;
    margin-left: 20rem;

}

.autres_projets a{
    color: #0dcfd6;

}
.autres_projets a:hover{
    color: #0dcfd6;
    text-decoration: underline ;

}

.à_propos{
    margin-top: 5rem;
}

.à_propos a{
    color: #0dcfd6;

}

.à_propos>div>div>p{
    font-size: 3rem;
    margin-left: 17rem;

}

.à_propos img{
    width: 200px;
    height: 200px;

    clip-path:ellipse(100% 100%);

    position: absolute;
    margin-left: 8rem;

    border-radius: 50% ;
}


form>input, form>textarea#Message, button{
    background: #222222;
    color: #0dcfd6;
    border: 2px solid #0dcfd6;
    width: 85%;
    display: block;
    margin: auto;
    border-radius: 1.5rem;
    padding: 1rem;
    margin-bottom: -0.2rem;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;

}
form>input::placeholder, form>textarea#Message::placeholder{
    color: #0dcfd6;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
}

form>textarea#Message {
    height: 300px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
}

button{
    width: 30%;

    position: absolute;
    right: 2rem;

}
.quadrature_du_net{
    margin-top: 20px;
    height: 100px;
}




